.common {
  &__text {
    & > * {
      width: 100%;
    }
  }
}

.common-container {
  border: 1px solid #cecece;
  border-radius: 6px;

  padding: 1rem;
  margin-bottom: 1rem;
}

.text-align {
  width: 100%;

  & > * {
    width: 100%;
  }
}
