.container {
  position: absolute;
  // overflow: hidden;
}

.container_visiable {
  overflow: visible;
}
.container__components {
  width: 100%;
  height: 100%;
}

.container__hover {
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.container_clicked {
  transform: scale(1.1);
}
