<div class="container">
  <!-- <mat-card class="container__menus example-card">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
        voluptatum consequatur cum laborum. Voluptatibus dicta veritatis maiores
        sapiente, laborum, repellat labore nemo, ratione at tempora nisi
        mollitia possimus magni architecto.
      </p>
    </mat-card-content>
  </mat-card> -->

  <div class="container__timeline">
    <app-components-timeline [memberId]="memberId"></app-components-timeline>
  </div>
</div>
