<section class="container" *ngIf="department">
  <section
    class="container-department"
    fxLayout="row"
    fxLayoutGap="20px"
    fxLayoutAlign="start center"
    fxLayout.lt-sm="column"
    fxLayoutAlign.lt-sm="center end"
  >
    <div
      class="department__created"
      *ngIf="department"
      fxLayout="row"
      fxLayoutGap="10px"
    >
      <div class="text">생성 일자 :</div>
      <div class="value">{{ department.created | saturnDate }}</div>
    </div>

    <div class="department__members" fxLayout="row" fxLayoutGap="10px">
      <div class="text">멤버 수 :</div>
      <div class="value">{{ department.membersCount }} 명</div>
    </div>
  </section>
  <div
    class="container-menus"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
  >
    <button
      mat-icon-button
      color="accent"
      (click)="onClickedAddDeadbeats()"
      *ngIf="!isDeadbeatsMode"
      @live
    >
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="onClickedCancleDeadbeats()"
      *ngIf="isDeadbeatsMode"
      @live
    >
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>

  <div class="department" *ngIf="!isDeadbeatsMode">
    <div class="connector-kind-message primary-color">등록된 멤버 목록</div>
    <div
      class="container-department-connectors"
      *ngIf="department.hasMembers; else DEPARTMENT_CONNECTORS_ELSEBLOCK"
    >
      <div class="container-department-connectors__list">
        <app-components-member-table
          [elements]="members"
          (selected)="onMemberTableSelected($event)"
          (clicked)="onMemberTableClicked($event)"
        ></app-components-member-table>
      </div>
      <div
        class="container-department-connectors__menus"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap="10px"
      >
        <button
          mat-raised-button
          color="warn"
          *ngIf="hasSelectedMembers"
          (click)="onClickedConnectorsDelete()"
          @appear
        >
          멤버 제거
        </button>
        <button mat-raised-button *ngIf="hasSelectedMembers" @appear>
          취소
        </button>
      </div>
    </div>
    <ng-template #DEPARTMENT_CONNECTORS_ELSEBLOCK>
      <div
        class="department__no-content"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div
          class="no-content-box"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <h3>조직에 소속된 멤버이 없습니다.</h3>
          <h4 class="sub-title">추가하시겠습니까?</h4>
          <button
            mat-raised-button
            color="accent"
            (click)="onClickedAddDeadbeats()"
          >
            멤버 추가
          </button>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="deadbeats" *ngIf="isDeadbeatsMode">
    <div class="connector-kind-message accent-color">
      등록 가능한 멤버 목록
    </div>
    <div
      class="deadbeats__connectors container-connectors"
      *ngIf="members?.length > 0; else CONNECTORS_ELSE_BLOCK"
    >
      <div class="connector-connectors__list">
        <app-components-member-table
          [elements]="members"
          (selected)="onMemberTableSelected($event)"
          (clicked)="onMemberTableClicked($event)"
        ></app-components-member-table>
      </div>
      <div
        class="connector-connectors__menus"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap="10px"
      >
        <button
          mat-raised-button
          color="primary"
          (click)="onClickedAddConnectorToDepartment()"
          *ngIf="hasSelectedMembers"
          @appear
        >
          추가
        </button>
        <button mat-raised-button (click)="onClickedCancleDeadbeats()" @appear>
          취소
        </button>
      </div>
    </div>
    <ng-template #CONNECTORS_ELSE_BLOCK>
      <div
        class="deadbeats__no-content"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div
          class="no-content-box"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <h3>승인된 멤버들이 없습니다.</h3>
          <h4 class="sub-title">
            멤버는 여러 조직에 소속 될 수 있습니다.
          </h4>
          <button
            mat-raised-button
            color="accent"
            (click)="onClickedMoveConnectors()"
          >
            멤버 관리
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</section>
